<div>
    <ion-grid style="background-color: honeydew">
        <ion-row class="toprow"> 
            <ion-col col-3>
                <img src="assets/imgs/toilet.png" style="transform: rotate(90deg)">
            </ion-col>
            <ion-col col-9  style="background-color: crimson;">
                <ion-row>
                    <ion-col class="fouthcards">
                     <b>1</b>
                    </ion-col>&nbsp;    
                    <ion-col class="fouthcards">
                       <b>2</b>
                    </ion-col>
                </ion-row>
                <br/>
                <ion-row>
                    <ion-col class="fouthcards">
                      <b>3</b>
                    </ion-col>&nbsp;  
                    <ion-col class="fouthcards">
                        <b>4</b>
                    </ion-col>
                </ion-row>
                <br/>
                <ion-row>
                    <ion-col class="fouthcards">
                   <b>5</b>
                    </ion-col>&nbsp;  
                    <ion-col class="fouthcards">
                     <b>6</b>
                    </ion-col>
                </ion-row>
            </ion-col>

        </ion-row>&nbsp;
        <ion-row class="midrow"> 
            <ion-col col-3>
                <img src="assets/imgs/arrow.png" style="height:30px;width: auto; transform: rotate(90deg);margin-top: 50px;">
            </ion-col>
            <ion-col col-9 style="background-color: indigo;">
                <p style="text-align: center"><b>1</b></p>
            </ion-col>

        </ion-row>
        
        
    </ion-grid>
</div>