<div>
    <ion-grid style="background-color: honeydew">
        <ion-row class="toprow">
            <ion-col col-3>
                <img src="assets/imgs/toilet.png" style="transform: rotate(270deg)">
            </ion-col>
            <ion-col col-9 style="background-color: blue;">
                <ion-row>
                    <ion-col class="fouthcards">
                        <b>Script less Automation</b>
                    </ion-col>&nbsp;
                    <ion-col class="fouthcards">
                        <b>E-Commerce with registry</b>
                    </ion-col>
                </ion-row>
                <br />
                <ion-row>
                    <ion-col class="fouthcards">
                        <b>Data Room</b>
                    </ion-col>&nbsp;
                    <ion-col class="fouthcards">
                        <b>OpenRAP - Device Management</b>
                    </ion-col>
                </ion-row>
                <br />
                <ion-row>
                    <ion-col class="fouthcards">
                        <b>Jedi Academy</b>
                    </ion-col>&nbsp;
                    <ion-col class="fouthcards">
                        <b>Crowd Sourcing</b>
                    </ion-col>
                </ion-row>
            </ion-col>

        </ion-row>&nbsp;
        <ion-row class="midrow">
            <ion-col col-3>
                <img src="assets/imgs/arrow.png" style="height:30px;width: auto; transform: rotate(90deg);margin-top: 50px;">
            </ion-col>
            <ion-col col-9 style="background-color: red;">
                <p style="text-align: center"><b>Open Area</b></p>
            </ion-col>

        </ion-row>


    </ion-grid>
</div>