page-registration {
    .home {
        background-color: #b3ccff;
    }
    
    .form-field{
        border-radius: 5px;
        height:90px;
    }

    .hidden-card {
        height: 100px;
        width: 100px;
        background-color: rgba(255, 255, 255, 0);
        box-shadow: none;
        // -webkit-box-shadow: 0 !important;
    }
    

}
