page-home{
  .qr-code {
    display: block;
    width: 70% !important;
    margin-left: auto;
    margin-right: auto;
  }

  .box {
    height: auto;
    width: 98%;
    border: 2px solid black;
    margin-left: 2%;
  }

  .toolbar-background-md {
    border-color: #b2b2b2 !important;
    background: #f8f8f8 !important;

  }

  .segment-md .segment-button {
    color: black;
  }

  .toolbar .segment-md .segment-button.activated,
  .toolbar .segment-md .segment-button.segment-activated {
    background-color: #327eff !important;
    border-radius: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}