<ion-content>
  <ion-grid padding>
    <ion-row>
      <ion-col col-10>
        <div>
          <p class="title heading1">smaple text to be added</p>
          <p class="text-gray-color">sample text to be added</p>
        </div>
      </ion-col>
      <ion-col col-2>
        <div style="margin-top:5px" (click)="cancel()">
          <img style="margin-top: 2vh" src="assets/imgs/ic_action_close.png" class="tool-icon" float-end />
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="display-inline">
      <rating readOnly="false" max="5" (ngModelChange)="onRating(idea, $event)" emptyStarIconName="star-outline"
        halfStarIconName="star-half" starIconName="star" nullable="false">
      </rating>
    </ion-row>
    <ion-row>
      <ion-input placeholder="feedback"></ion-input>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col col-12 text-center>
      <button ion-button block (click)="submit()">SUBMIT</button>
    </ion-col>
  </ion-row>
</ion-footer>