<div>
    <ion-grid style="background-color: honeydew">
        <ion-row class="toprow"> 
            <ion-col col-3>
                <img src="assets/imgs/toilet.png" style="transform: rotate(90deg)">
            </ion-col>
            <ion-col col-9 style="background-color: crimson;">
                <p style="text-align: center"><b>1</b></p>
            </ion-col>

        </ion-row>
        <ion-row class="middle">
            <ion-col style="height:400px">
                <ion-row row-7 class="Mobility" style="height: 272px;margin-top: 19px;width: 100px;">
                    <ion-col style="background-color:brown;" >
                        <p style="text-align: center"><b>6</b></p>
                    </ion-col>
                </ion-row>

                <ion-row row-3 style="height:50px;">
                    <ion-col class="inimg">
                            <img src="assets/imgs/arrow.png" style="height:30px;width: auto; transform: rotate(180deg)">
                    </ion-col>
                </ion-row>
            </ion-col>


            <ion-col>

            </ion-col>
       
            <ion-col>
                    <ion-row row-4>
                        <ion-col class="quality1">
                <p style="text-align: center"><b>2</b></p>
            </ion-col>&nbsp;
            </ion-row>
            <ion-row row-4>
                    <ion-col class="quality2">
                        <p style="text-align: center"><b>3</b></p>
                    </ion-col>&nbsp;&nbsp;
                    </ion-row>
                    </ion-col>
        </ion-row>

    
        <ion-row class="footerrow">
            <ion-col style="background-color:pink">
                <p style="text-align: center"><b>5</b></p>
            </ion-col>&nbsp;&nbsp;
            <ion-col style="background-color:indigo">
                    <p style="text-align: center"><b>4</b></p>
                </ion-col>
        </ion-row>
    </ion-grid>
</div>